{
  "background": {
    "wallpaperPath": ""
  },
  "appearance": {
    "palette": {
      "accentColor": "",
      "type": "auto"
    },
    "wallpaperTheming": {
      "enableAppsAndShell": true
    }
  }
}
